@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --gray: #ECECE8; 
    --yellow: #FCC822;
    --dark-gray: #45423b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto",sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 1.7rem 0rem 0.8rem 0rem;
    border-bottom: 1px solid var(--gray);
}

.logo img{
    width: 170px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li{
    display: inline-block;
    list-style-type: none;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    font-weight: 400;
    align-items: center;
}

nav li a{
    text-decoration: none;
    color: var(--dark-gray);
}

nav li a:hover{
    color: #000;
}

.signup-btn{
    padding: 0.5rem 1.8rem;
    border-color: var(--yellow);
    background-color: #fff;
    color: var(--yellow);
    align-items: center;
}

.signup-btn:hover{
    border: 1px solid var(--yellow);
    background-color: var(--yellow);
    color: #fff;
}

/* Main Section */
/* Right Side */
.width{
    width: 50%;
}

main{
    display: flex;
    min-height: 100vh;
}

.lines{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.people{
    margin-top: -310px;
    margin-left: 73px;
}

/* Left Side */
.left-main{ 
    padding-right: 0px;
}

.left{
    /* border: 2px solid black; */
    /* margin: 150px 0 50px 50% ; */
    margin-left: 150px;
    margin-top: 125px;
}

.heading{
    /* border: 2px solid green; */
    width: 600px;
}

.heading h2{
    /* width: 290px; */
    font-weight: 500;
    font-size: 50px;
}

.box{
    height: 30px;
    margin: 30px 0px;
    border-left: 4px solid var(--dark-gray);
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.btns{
    display: flex;
    align-items: center;
}

.btn button{
    padding: 0.5rem 1.8rem;
    border-color: var(--yellow);
    background-color: #fff;
    color: var(--yellow);
    align-items: center;
    font-weight: 500;
    font-size: 0.8rem;

}

.btn button:hover{
    background-color: var(--yellow);
    color: #fff;
}

.dropdown{
    margin-left: 50px;
}

.dropdown i,span{
    color: var(--yellow);
}

.dropdown i{
    margin-right: 5px;
}

.burger-menu{
    display: none;
}

@media screen and (max-width: 600px){
    .nav-links{
        display: none;
    }
    .burger-menu{
        display: block;
    } 
    .burger-menu i{
        font-size: 25px;
    }  
    .right{
        display: none;
    }
    .heading h2{
        font-size: 30px;
    }
    .left{
        margin: 15px 15px;
        
        width: 200px;
    }
    .box{
        width: 325px;
    }
    .btns{
        width: 290px;
    }
    .dropdown{
        display: flex;
    }
}